# 22 Jan

In [3]:
import pandas as pd

In [28]:
df_scientists = pd.read_csv('../doit_pandas/data/scientists.csv')

In [32]:
s_age = df_scientists['Age']
type(s_age)

pandas.core.series.Series

In [40]:
s_age[:]

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [47]:
# Vector 연산(R)== Broadcasting 연산 (Python)
s_age + 1

0    38
1    62
2    91
3    67
4    57
5    46
6    42
7    78
Name: Age, dtype: int64

In [48]:
s_age + s_age

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [49]:
s_age * 10

0    370
1    610
2    900
3    660
4    560
5    450
6    410
7    770
Name: Age, dtype: int64

In [50]:
#vector 연산 
l_scores = [1,2,3]
print(l_scores + l_scores) # 이건 vector 연산이아님.단순 합산이므로.. 요소별로 더해야됨.

[1, 2, 3, 1, 2, 3]

In [53]:
pd.Series([1,100])

0      1
1    100
dtype: int64

In [56]:
#vector 연산 : 있는데까지만 연산함. 
print(s_age + pd.Series([1,100]) )

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [58]:
#정렬 
s_age.sort_index(ascending = False )

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [63]:
scientists[scientists['Age'] > scientists['Age'].mean()]

                  Occupation        Born        Died  Age
William Gosset  Statistician  1876-06-13  1937-10-16   61

In [65]:
print(scientists.loc[[True, False]])

                  Occupation        Born        Died  Age
Rosaline Franklin    Chemist  1920-07-25  1958-04-16   37

In [68]:
print(scientists*2)

                                 Occupation                  Born  \
Rosaline Franklin            ChemistChemist  1920-07-251920-07-25
William Gosset     StatisticianStatistician  1876-06-131876-06-13

                                   Died  Age
Rosaline Franklin  1958-04-161958-04-16   74
William Gosset     1937-10-161937-10-16  122

In [89]:
scientists.iloc[1].keys()[2]

'Died'

In [93]:
print(scientists['Born'].dtype)
print(scientists['Died'])

object
Rosaline Franklin    1958-04-16
William Gosset       1937-10-16
Name: Died, dtype: object

In [91]:
born_datetime = pd.to_datetime(scientists['Born'], format = '%Y-%m-%d')

In [92]:
print(born_datetime)

Rosaline Franklin   1920-07-25
William Gosset      1876-06-13
Name: Born, dtype: datetime64[ns]

In [119]:
#새로운 열 추가하기
pd.to_datetime(scientists['Born'], format='%Y-%m-%d') 
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
scientists['born_dt'], scientists['died_dt'] = (born_datetime,died_datetime)
print(scientists)

                     Occupation        Born        Died  Age    born_dt  \
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37 1920-07-25
William Gosset     Statistician  1876-06-13  1937-10-16   61 1876-06-13

                     died_dt  new_col  new_col2
Rosaline Franklin 1958-04-16        1       NaN
William Gosset    1937-10-16        2       NaN

In [116]:
from numpy import NaN, NAN, nan
scientists['new_col2'] = NaN
print(scientists)

                     Occupation        Born        Died  Age    born_dt  \
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37 1920-07-25
William Gosset     Statistician  1876-06-13  1937-10-16   61 1876-06-13

                     died_dt  new_col  new_col2
Rosaline Franklin 1958-04-16        1       NaN
William Gosset    1937-10-16        2       NaN

In [118]:
from numpy import NaN, NAN, nan
nan == nan

False

In [130]:
import random
random.seed(42)
random.shuffle(scientists['Age'])

In [123]:
print(scientists['Age'])

Rosaline Franklin    61
William Gosset       37
Name: Age, dtype: int64

In [4]:

scientists = pd.read_csv('../doit_pandas/data/scientists.csv')
ages = scientists['Age']

In [6]:
names = scientists['Name'] 
names

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [11]:
names.to_pickle('../doit_pandas/output/s_names.pickle') #직렬화

In [13]:
scientist_names_from_pickle = pd.read_pickle('../doit_pandas/output/s_names.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [14]:
names.to_csv('../output/scientist_name_series.csv')

<ipython-input-14-f13867e0e2c7>:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  names.to_csv('../output/scientist_name_series.csv')

In [15]:
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

In [16]:
scientists.to_csv('../output/scientists_df_no_index.csv', index=False)

In [19]:
names_df = names.to_frame()
print(names_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
Name    8 non-null object
dtypes: object(1)
memory usage: 192.0+ bytes
None

In [24]:
#excel로 파일 저장하기! 
import xlwt
names.to_excel('../output/df_names.xls')
import openpyxl
names.to_excel('../output/df_names_pyxl.xlsx')

In [25]:
dir(names)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_create_indexer',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_formatting_values',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_space_character_free_column_resolvers',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'as_matrix',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'autocorr',
 'axes',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'compress',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_array',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'nonzero',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'ptp',
 'put',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_msgpack',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']