In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../doit_pandas/data/gapminder.tsv',sep='\t')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [4]:
country = df['country']

In [5]:
country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [6]:
country = df.country

In [7]:
country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [11]:
country_pop = df[{'country','pop'}]

In [12]:
type(country_pop)

pandas.core.frame.DataFrame

In [19]:
gdpPercap=df.gdpPercap

In [20]:
gdpPercap

0       779.445314
1       820.853030
2       853.100710
3       836.197138
4       739.981106
           ...
1699    706.157306
1700    693.420786
1701    792.449960
1702    672.038623
1703    469.709298
Name: gdpPercap, Length: 1704, dtype: float64

In [16]:
type(df.gdpPercap)

pandas.core.series.Series

In [22]:
gdpPercap.head() #series 도 head, tail 사용 가능

0    779.445314
1    820.853030
2    853.100710
3    836.197138
4    739.981106
Name: gdpPercap, dtype: float64

In [29]:
column_list = ['country','continent','year']

In [30]:
type(df[column_list])

pandas.core.frame.DataFrame

In [31]:
df[column_list]

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [32]:
column_list = ('country')
type(df[column_list])

pandas.core.series.Series

In [35]:
type(country)

pandas.core.series.Series

In [37]:
country.shape

(1704,)

In [40]:
country.index

RangeIndex(start=0, stop=1704, step=1)